body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
h1 {
    font-size: 20px;
    margin: 5px 0 5px 0;
    letter-spacing: 0;
}
h2 {
    font-size: 30px;
    border-bottom: 1px solid;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 5px;
}
h3 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 1px;
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
a,
a:link,
a:visited {
    text-decoration: none;
    color: #6da0f2;
}
hr {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid lightgray;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.container {
    max-width: 1140px;
}
.header {
    border-bottom: 1px solid;
}
.header-welcome {
    font-size: 12px;
    font-style: italic;
    text-align: right;
    padding-top: 8px;
}
.content {
    margin-top: 5px;
}
.skills {
    text-align: center;
    padding: 10px 0;
    background-color: #fafafa;
}
.skill-name {
    padding: 0 3px;
}
.description {
    padding: 0 20px;
}
.section {
    min-height: 150px;
    margin-top: 25px;
}
.section-big {
    min-height: 800px;
    text-align: center;
    margin-top: 50px;
}
.info {
    display: block;
    font-size: 13px;
    padding-left: 15px;
}
.info-header {
    margin-top: 15px;
}
.info-icon {
    width: 25px;
    display: inline-block;
    text-align: center;
}
.info-text {
    width: 100%;
    font-size: 12px;
}
.info-details {
    padding: 10px 10px;
    background-color: #fafafa;
}
.footer {
    margin-top: 40px;
    border-top: 1px solid;
}


/* loading fadein and fade out */
.loading {
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
}
.loaded {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
/* fadein */
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity:1; }
}
/* fadeout */
@keyframes fadeout {
    from { opacity:1; }
    to { opacity:0; }
}
@-moz-keyframes fadeout { /* Firefox */
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from { opacity:1; }
    to { opacity:0; }
}
@-o-keyframes fadeout { /* Opera */
    from { opacity:1; }
    to { opacity:0; }
}



.render {
    font-size: 11px;
}